#modelo{
    width: 40%;
    height: 30%;
}
#contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #b9ba95;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 50%;
    border-radius: 15px;
    box-shadow: 4px 4px 8px;
}
nav{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
body{
    background-color: #dfe3c2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
a{
    text-decoration: none;
}

 #camion{
     width: 50%;
 }
 .rotate-scale-up {
	-webkit-animation: rotate-scale-up 0.65s linear both;
	        animation: rotate-scale-up 0.65s linear both;
}


  @keyframes rotate-scale-up {
    0% {
      -webkit-transform: scale(1) rotateZ(0);
              transform: scale(1) rotateZ(0);
    }
    50% {
      -webkit-transform: scale(2) rotateZ(180deg);
              transform: scale(2) rotateZ(180deg);
    }
    100% {
      -webkit-transform: scale(1) rotateZ(360deg);
              transform: scale(1) rotateZ(360deg);
    }
  }
  